# Задание 0

## Определить вероятность выпадения цифры 8 на десятом броске 9-гранного кубика.

Ответ: При последующих друг за другом бросках кубика, вероятность выпадения 8 не зависит от предыдущих бросков и одинакова как и для все остальных цифр, поэтому: P(8) = 1/9 ~ 0.111

# Задание 1

## 1.0 Импорт всех необходимых данных.

In [45]:
# pip install pandas openpyxl
import pandas as pd
import re

In [46]:
excel_file = pd.ExcelFile("Данные для задания Python.xlsx")
sheet_names = excel_file.sheet_names
print("Названия листов:", sheet_names)

Названия листов: ['Задание1', 'Отчет о продажах ИП Иванов', 'Отчет о продажах ИП Петров', 'Отчет о продажах ИП Сидоров', 'Себестоимость и Цена до скидки', 'Справочник', 'Задание 2', 'Акция']

In [47]:
target_filename = "Данные для задания Python.xlsx"

In [48]:
# Список необходимых листов xlsx
task_list = ["Задание1"]  # Задание1
report_list = [
    "Отчет о продажах ИП Иванов",
    "Отчет о продажах ИП Петров",
    "Отчет о продажах ИП Сидоров",
]  # Отчёты
info_list = [
    "Себестоимость и Цена до скидки",
    "Справочник",
]  # Дополнительная информация
import_sheet_list = task_list + report_list + info_list

In [49]:
# Чтение всех нужных листов с двухуровневыми заголовками, но за одно чтение файла
all_sheets_df_dict = pd.read_excel(
    target_filename, sheet_name=import_sheet_list, header=[0, 1]
)

In [50]:
# Отделяем лист "Задание1" и возвращаем одноуровневые заголовки
task1_df = all_sheets_df_dict[task_list[0]]
task1_df.columns = task1_df.columns.get_level_values(0)
# Отделяем отчёты в словарь отчётов
reports_df_dict = {
    sheet_name: all_sheets_df_dict[sheet_name] for sheet_name in report_list
}
# Отделяем дополнительную информацию в словарь и возвращаем одноуровневые заголовки
info_df_dict = {}
for sheet_name in info_list:
    info_df_dict[sheet_name] = all_sheets_df_dict[sheet_name].reset_index(drop=True)
    info_df_dict[sheet_name].columns = info_df_dict[
        sheet_name
    ].columns.get_level_values(0)

In [51]:
print(f"{task_list[0]}: {task1_df.columns.to_list()}")
for sheet_name in info_list:
    print(f"{sheet_name}: {info_df_dict[sheet_name].columns.to_list()}")
for sheet_name in report_list:
    print(f"{sheet_name}: {reports_df_dict[sheet_name].columns.to_list()}")

Задание1: ['Номенклатура', 'ИП', 'Заказы, шт.', 'Выручка, руб.', 'Прибыль, руб.', 'Рентабельность, %']
Себестоимость и Цена до скидки: ['Категория', 'Фиксированные затраты, руб./шт.', 'Базовая цена']
Справочник: ['Номенклатура', 'Категория']
Отчет о продажах ИП Иванов: [('Отчёт по данным поставщика «Иванов Иван ИП» с 26.05.2022 по 26.05.2022 сформирован 27.05.2022 08:34:51. Склад: все', 'Бренд'), ('Отчёт по данным поставщика «Иванов Иван ИП» с 26.05.2022 по 26.05.2022 сформирован 27.05.2022 08:34:51. Склад: все', 'Предмет'), ('Отчёт по данным поставщика «Иванов Иван ИП» с 26.05.2022 по 26.05.2022 сформирован 27.05.2022 08:34:51. Склад: все', 'Сезон'), ('Отчёт по данным поставщика «Иванов Иван ИП» с 26.05.2022 по 26.05.2022 сформирован 27.05.2022 08:34:51. Склад: все', 'Коллекция'), ('Отчёт по данным поставщика «Иванов Иван ИП» с 26.05.2022 по 26.05.2022 сформирован 27.05.2022 08:34:51. Склад: все', 'Наименование'), ('Отчёт по данным поставщика «Иванов Иван ИП» с 26.05.2022 по 26.05.2022 сформирован 27.05.2022 08:34:51. Склад: все', 'Номенклатура'), ('Отчёт по данным поставщика «Иванов Иван ИП» с 26.05.2022 по 26.05.2022 сформирован 27.05.2022 08:34:51. Склад: все', 'Размер'), ('Отчёт по данным поставщика «Иванов Иван ИП» с 26.05.2022 по 26.05.2022 сформирован 27.05.2022 08:34:51. Склад: все', 'Склад'), ('Поступления', 'шт'), ('Поступления', 'себестоимость'), ('Заказано', 'шт'), ('Заказано', 'себестоимость'), ('Выкупленные товары', 'Выкупили, шт'), ('Выкупленные товары', 'Выкупили, руб'), ('Выкупленные товары', 'Текущий остаток, шт')]
Отчет о продажах ИП Петров: [('Отчёт по данным поставщика «Петров Александр ИП» с 26.05.2022 по 26.05.2022 сформирован 27.05.2022 08:35:54. Склад: все', 'Бренд'), ('Отчёт по данным поставщика «Петров Александр ИП» с 26.05.2022 по 26.05.2022 сформирован 27.05.2022 08:35:54. Склад: все', 'Предмет'), ('Отчёт по данным поставщика «Петров Александр ИП» с 26.05.2022 по 26.05.2022 сформирован 27.05.2022 08:35:54. Склад: все', 'Сезон'), ('Отчёт по данным поставщика «Петров Александр ИП» с 26.05.2022 по 26.05.2022 сформирован 27.05.2022 08:35:54. Склад: все', 'Коллекция'), ('Отчёт по данным поставщика «Петров Александр ИП» с 26.05.2022 по 26.05.2022 сформирован 27.05.2022 08:35:54. Склад: все', 'Наименование'), ('Отчёт по данным поставщика «Петров Александр ИП» с 26.05.2022 по 26.05.2022 сформирован 27.05.2022 08:35:54. Склад: все', 'Номенклатура'), ('Отчёт по данным поставщика «Петров Александр ИП» с 26.05.2022 по 26.05.2022 сформирован 27.05.2022 08:35:54. Склад: все', 'Размер'), ('Отчёт по данным поставщика «Петров Александр ИП» с 26.05.2022 по 26.05.2022 сформирован 27.05.2022 08:35:54. Склад: все', 'Склад'), ('Поступления', 'шт'), ('Поступления', 'себестоимость'), ('Заказано', 'шт'), ('Заказано', 'себестоимость'), ('Выкупленные товары', 'Выкупили, шт'), ('Выкупленные товары', 'Выкупили, руб'), ('Выкупленные товары', 'Текущий остаток, шт')]
Отчет о продажах ИП Сидоров: [('Отчёт по данным поставщика «Сидоров Анатолий ИП» с 26.05.2022 по 26.05.2022 сформирован 27.05.2022 08:38:17. Склад: все', 'Бренд'), ('Отчёт по данным поставщика «Сидоров Анатолий ИП» с 26.05.2022 по 26.05.2022 сформирован 27.05.2022 08:38:17. Склад: все', 'Предмет'), ('Отчёт по данным поставщика «Сидоров Анатолий ИП» с 26.05.2022 по 26.05.2022 сформирован 27.05.2022 08:38:17. Склад: все', 'Сезон'), ('Отчёт по данным поставщика «Сидоров Анатолий ИП» с 26.05.2022 по 26.05.2022 сформирован 27.05.2022 08:38:17. Склад: все', 'Коллекция'), ('Отчёт по данным поставщика «Сидоров Анатолий ИП» с 26.05.2022 по 26.05.2022 сформирован 27.05.2022 08:38:17. Склад: все', 'Наименование'), ('Отчёт по данным поставщика «Сидоров Анатолий ИП» с 26.05.2022 по 26.05.2022 сформирован 27.05.2022 08:38:17. Склад: все', 'Номенклатура'), ('Отчёт по данным поставщика «Сидоров Анатолий ИП» с 26.05.2022 по 26.05.2022 сформирован 27.05.2022 08:38:17. Склад: все', 'Размер'), ('Отчёт по данным поставщика «Сидоров Анатолий ИП» с 26.05.2022 по 26.05.2022 сформирован 27.05.2022 08:38:17. Склад: все', 'Склад'), ('Поступления', 'шт'), ('Поступления', 'себестоимость'), ('Заказано', 'шт'), ('Заказано', 'себестоимость'), ('Выкупленные товары', 'Выкупили, шт'), ('Выкупленные товары', 'Выкупили, руб'), ('Выкупленные товары', 'Текущий остаток, шт')]

Цель следующей ячейки: упростить дальнейшую работу с заголовками и определением ИП

In [52]:
def process_report_df(df, new_header):
    """Изменить ячейку с информацией об отчёте, вернуть оригинальное значение и обновить заголовок."""
    if "Отчёт по данным поставщика" in df.columns.values[0][0]:
        info_header = df.columns.values[0][0]
        df.rename(columns={info_header: new_header}, inplace=True)
        return info_header
    return None


# Новое значение для ячейки с информацией об отчёте
new_short_info_header = "Товары"

# Добавляем информацию об отчёте как атрибут для каждого датафрейма
for sheet_name, df in reports_df_dict.items():
    info_header = process_report_df(df, new_short_info_header)
    setattr(df, "info_header", info_header)

In [53]:
for sheet_name in report_list:
    print(f"{sheet_name}: {reports_df_dict[sheet_name].columns.to_list()}")

Отчет о продажах ИП Иванов: [('Товары', 'Бренд'), ('Товары', 'Предмет'), ('Товары', 'Сезон'), ('Товары', 'Коллекция'), ('Товары', 'Наименование'), ('Товары', 'Номенклатура'), ('Товары', 'Размер'), ('Товары', 'Склад'), ('Поступления', 'шт'), ('Поступления', 'себестоимость'), ('Заказано', 'шт'), ('Заказано', 'себестоимость'), ('Выкупленные товары', 'Выкупили, шт'), ('Выкупленные товары', 'Выкупили, руб'), ('Выкупленные товары', 'Текущий остаток, шт')]
Отчет о продажах ИП Петров: [('Товары', 'Бренд'), ('Товары', 'Предмет'), ('Товары', 'Сезон'), ('Товары', 'Коллекция'), ('Товары', 'Наименование'), ('Товары', 'Номенклатура'), ('Товары', 'Размер'), ('Товары', 'Склад'), ('Поступления', 'шт'), ('Поступления', 'себестоимость'), ('Заказано', 'шт'), ('Заказано', 'себестоимость'), ('Выкупленные товары', 'Выкупили, шт'), ('Выкупленные товары', 'Выкупили, руб'), ('Выкупленные товары', 'Текущий остаток, шт')]
Отчет о продажах ИП Сидоров: [('Товары', 'Бренд'), ('Товары', 'Предмет'), ('Товары', 'Сезон'), ('Товары', 'Коллекция'), ('Товары', 'Наименование'), ('Товары', 'Номенклатура'), ('Товары', 'Размер'), ('Товары', 'Склад'), ('Поступления', 'шт'), ('Поступления', 'себестоимость'), ('Заказано', 'шт'), ('Заказано', 'себестоимость'), ('Выкупленные товары', 'Выкупили, шт'), ('Выкупленные товары', 'Выкупили, руб'), ('Выкупленные товары', 'Текущий остаток, шт')]

## 1.1 Определить к какому ИП относится номенклатура.

Примечание: если номенклатура не встречается ни в одном из отчетов, в поле «ИП» поставить прочерк.

In [54]:
for report in report_list:
    print(reports_df_dict[report].info_header)

Отчёт по данным поставщика «Иванов Иван ИП» с 26.05.2022 по 26.05.2022 сформирован 27.05.2022 08:34:51. Склад: все
Отчёт по данным поставщика «Петров Александр ИП» с 26.05.2022 по 26.05.2022 сформирован 27.05.2022 08:35:54. Склад: все
Отчёт по данным поставщика «Сидоров Анатолий ИП» с 26.05.2022 по 26.05.2022 сформирован 27.05.2022 08:38:17. Склад: все

In [55]:
def find_ip_name(info):
    """Извлечь название ИП из информации отчета."""
    match = re.search(r"Отчёт по данным поставщика «(.*?) ИП»", info)
    return match.group(1) if match else "-"


def find_source(nom):
    """Найти ИП по наименованию номенклатуры."""
    for df in reports_df_dict.values():
        if nom in df[(new_short_info_header, "Номенклатура")].values:
            return find_ip_name(df.info_header)
    return "-"


# Применяем функцию для извлечения ИП в столбец "ИП"
task1_df["ИП"] = task1_df[("Номенклатура")].apply(find_source)
task1_df.head()

,Номенклатура,ИП,"Заказы, шт.","Выручка, руб.","Прибыль, руб.","Рентабельность, %"
0,27708426,Иванов Иван,NaN,NaN,NaN,NaN
1,35217579,Иванов Иван,NaN,NaN,NaN,NaN
2,74417961,Петров Александр,NaN,NaN,NaN,NaN
3,22740351,Иванов Иван,NaN,NaN,NaN,NaN
4,23515101,Иванов Иван,NaN,NaN,NaN,NaN

## 1.2 Посчитать количество заказов по каждой номенклатуре.

Дополнительные сведения для выполнения задания:
- данные по заказам представлены в Отчетах о Продажах по трем ИП в столбцах «Заказано, шт.»;
- если ни в одном отчете о продажах нет информации по номенклатуре, то количество заказов по такой номенклатуре равняется нулю;
- так как отчет может содержать несколько строк по одной номенклатуре, важно считать сумму заказов по всем строкам, в которых указана номенклатура.

In [56]:
def find_number_orders(nom):
    """Суммировать кол-во заказов по заданной номенклатуре."""
    total_orders = 0
    for df in reports_df_dict.values():
        # Проверяем наличие столбца ("Заказано", "шт") и номенклатуры в отчёте
        if ("Заказано", "шт") in df.columns:
            # Суммируем кол-во заказов
            total_orders += df[df[("Товары", "Номенклатура")] == nom][
                ("Заказано", "шт")
            ].sum()
    return total_orders


# Применяем функцию к каждой номенклатуре и записываем результат в новый столбец
task1_df["Заказы, шт."] = task1_df["Номенклатура"].apply(find_number_orders)
task1_df.head()

,Номенклатура,ИП,"Заказы, шт.","Выручка, руб.","Прибыль, руб.","Рентабельность, %"
0,27708426,Иванов Иван,3,NaN,NaN,NaN
1,35217579,Иванов Иван,5,NaN,NaN,NaN
2,74417961,Петров Александр,6,NaN,NaN,NaN
3,22740351,Иванов Иван,15,NaN,NaN,NaN
4,23515101,Иванов Иван,3,NaN,NaN,NaN

## 1.3 Посчитать выручку по каждой номенклатуре.

Дополнительные сведения для выполнения задания:
- исходные данные: Отчеты о Продажах по трем ИП, столбцы «Заказано, себестоимость»;
- себестоимость в отчетах о продажах представляет собой выручку за вычетом комиссии WB (17% от выручки), т.е. себестоимость составляет 83% от выручки.

In [57]:
# Комиссия WB
commission_rate_WB = 0.17

In [58]:
def find_revenue(nom, commission):
    """Вычислить общую выручку для заданной номенклатуры с учетом комиссии."""
    total_revenue = 0
    for df in reports_df_dict.values():
        # Проверяем наличие необходимых столбцов в отчёте
        if (
            "Заказано",
            "себестоимость",
        ) in df.columns and (
            "Товары",
            "Номенклатура",
        ) in df.columns:
            # Фильтруем данные по номенклатуре и рассчитываем выручку
            revenue = df.loc[
                df[("Товары", "Номенклатура")] == nom, ("Заказано", "себестоимость")
            ]
            total_revenue += round(revenue.sum() / (1 - commission), 2)
    return total_revenue


# Применяем функцию к каждой номенклатуре и записываем результат в новый столбец
task1_df["Выручка, руб."] = task1_df["Номенклатура"].apply(
    find_revenue, commission=commission_rate_WB
)
task1_df.head()

,Номенклатура,ИП,"Заказы, шт.","Выручка, руб.","Прибыль, руб.","Рентабельность, %"
0,27708426,Иванов Иван,3,486.98,NaN,NaN
1,35217579,Иванов Иван,5,865.72,NaN,NaN
2,74417961,Петров Александр,6,1165.16,NaN,NaN
3,22740351,Иванов Иван,15,2921.93,NaN,NaN
4,23515101,Иванов Иван,3,459.90,NaN,NaN

## 1.4 Посчитать прибыль по каждой номенклатуре.

Дополнительные сведения для выполнения задания:
- исходные данные: выручка, полученная в предыдущем пункте, таблица себестоимости и справочник;
- прибыль=выручка-затраты;
- затраты включают фиксированные затраты (на шт., не зависят от цены товара), налог (ИП Иванов – 1%, ИП Петров – 3%, ИП Сидоров – 5%) и комиссию (17%); налог и комиссия вычисляются как процент от выручки;


Примечание: если себестоимость не указана для какой-то из категорий, то задаем ее равной минимальной себестоимости из таблицы с себестоимостями.

In [59]:
print(f"{task_list[0]}, Список 'ИП': {task1_df["ИП"].unique()}")
print(f"{task_list[0]}: {task1_df.columns.to_list()}")
for sheet_name in info_list:
    print(f"{sheet_name}: {info_df_dict[sheet_name].columns.to_list()}")

Задание1, Список 'ИП': ['Иванов Иван' 'Петров Александр' '-' 'Сидоров Анатолий']
Задание1: ['Номенклатура', 'ИП', 'Заказы, шт.', 'Выручка, руб.', 'Прибыль, руб.', 'Рентабельность, %']
Себестоимость и Цена до скидки: ['Категория', 'Фиксированные затраты, руб./шт.', 'Базовая цена']
Справочник: ['Номенклатура', 'Категория']

In [60]:
# Налог для каждого ИП
tax_rates = {
    "Иванов Иван": 0.01,
    "Петров Александр": 0.03,
    "Сидоров Анатолий": 0.05,
}
# Комиссия WB задана ранее в commission_rate_WB

In [61]:
# Объединяем таблицы "Задание1" "Справочник" и "Себестоимость и Цена до скидки"
merged_df = task1_df.merge(
    info_df_dict["Справочник"], on="Номенклатура", how="left"
).merge(info_df_dict["Себестоимость и Цена до скидки"], on="Категория", how="left")

# Заполняем отсутствующие фиксированные затраты минимальными значениями
min_fixed_cost = info_df_dict["Себестоимость и Цена до скидки"][
    "Фиксированные затраты, руб./шт."
].min()
merged_df["Фиксированные затраты, руб./шт."] = merged_df[
    "Фиксированные затраты, руб./шт."
].fillna(min_fixed_cost)

# Рассчитываем затраты и прибыль
merged_df["Фиксированные затраты, руб."] = (
    merged_df["Фиксированные затраты, руб./шт."] * merged_df["Заказы, шт."]
)
merged_df["Налог, руб."] = merged_df["Выручка, руб."] * merged_df["ИП"].map(tax_rates)
merged_df["Комиссия, руб."] = merged_df["Выручка, руб."] * commission_rate_WB

# Рассчитываем прибыль
merged_df["Прибыль, руб."] = merged_df["Выручка, руб."] - (
    merged_df[["Фиксированные затраты, руб.", "Налог, руб.", "Комиссия, руб."]].sum(
        axis=1
    )
)

# Обновляем исходный DataFrame task1_df, добавляя новый столбец "Прибыль, руб."
task1_df["Прибыль, руб."] = merged_df["Прибыль, руб."]
task1_df.head()

,Номенклатура,ИП,"Заказы, шт.","Выручка, руб.","Прибыль, руб.","Рентабельность, %"
0,27708426,Иванов Иван,3,486.98,-60.8764,NaN
1,35217579,Иванов Иван,5,865.72,-57.1096,NaN
2,74417961,Петров Александр,6,1165.16,11.7280,NaN
3,22740351,Иванов Иван,15,2921.93,94.9826,NaN
4,23515101,Иванов Иван,3,459.90,-83.0820,NaN

## 1.5 Посчитать рентабельность продаж по каждой номенклатуре.

(Рентабельность – соотношение прибыли к выручке; в процентах).

In [62]:
task1_df["Рентабельность, %"] = (
    task1_df["Прибыль, руб."] / task1_df["Выручка, руб."]
) * 100
task1_df["Рентабельность, %"] = task1_df["Рентабельность, %"].round(2)
task1_df.head()

,Номенклатура,ИП,"Заказы, шт.","Выручка, руб.","Прибыль, руб.","Рентабельность, %"
0,27708426,Иванов Иван,3,486.98,-60.8764,-12.50
1,35217579,Иванов Иван,5,865.72,-57.1096,-6.60
2,74417961,Петров Александр,6,1165.16,11.7280,1.01
3,22740351,Иванов Иван,15,2921.93,94.9826,3.25
4,23515101,Иванов Иван,3,459.90,-83.0820,-18.07

## 1.6 Выполнить экспорт получившейся таблицы:

- в формате xlsx
- название файла «Задание 1»
- название листа «Таблица».

In [63]:
output_file = "Задание 1.xlsx"
task1_df.to_excel(output_file, sheet_name="Таблица", index=False)

## 1.7 Построить сводную таблицу:

по строкам
- индивидуальные предприниматели

по столбцам:
- сумма заказов
- выручки
- прибыли

In [64]:
pivot_table = task1_df.pivot_table(
    index="ИП",  # строки
    values=["Заказы, шт.", "Выручка, руб.", "Прибыль, руб."],  # столбцы
    aggfunc="sum",
    fill_value=0,  # Заполнение пропусков
)
pivot_table = pivot_table[pivot_table.index != "-"]
pivot_table

                  Выручка, руб.  Заказы, шт.  Прибыль, руб.
ИП
Иванов Иван           237597.54         1072     10029.0828
Петров Александр      119762.71          441      7679.9680
Сидоров Анатолий        3185.27           15        64.1106

# Задание 2

In [65]:
import pandas as pd
import numpy as np

## 2.0 Импорт необходимых данных.

In [66]:
target_filename = "Данные для задания Python.xlsx"
import_sheet_list = [
    "Задание 2",
    "Справочник",
    "Себестоимость и Цена до скидки",
    "Акция",
]

In [67]:
# Записываем все необходимые таблицы в словарь за 1 чтение файла
all_sheets_df_dict = pd.read_excel(target_filename, sheet_name=import_sheet_list)

In [68]:
# Отделяем таблицу "Задание 2"
task2_df = all_sheets_df_dict[import_sheet_list[0]]
# Отделяем информационные таблицы
info_df_dict = {
    sheet_name: all_sheets_df_dict[sheet_name] for sheet_name in import_sheet_list[1:]
}

In [69]:
for sheet_name in import_sheet_list:
    print(f"'{sheet_name}': {all_sheets_df_dict[sheet_name].columns.to_list()}")

'Задание 2': ['Номенклатура', 'Модель продаж', 'Цена до скидки', 'Необходимая скидка для участия в акции', 'Цена после скидки', 'Фиксированные затрат, руб./шт.', 'Налог, %', 'Комиссия,% ', 'Рентабельность, %', 'Проверка']
'Справочник': ['Номенклатура', 'Категория']
'Себестоимость и Цена до скидки': ['Категория', 'Фиксированные затраты, руб./шт.', 'Базовая цена']
'Акция': ['Номенклатура', 'Необходимая скидка для участия в акции, %']

## 2.1 Подтянуть Цену до скидки и Необходимую скидку для участия в акции.

In [70]:
# Объединение для подтягивания "Категория" в task2_df
task2_df = task2_df.merge(info_df_dict["Справочник"], on="Номенклатура", how="left")
task2_df.head()

,Номенклатура,Модель продаж,Цена до скидки,Необходимая скидка для участия в акции,Цена после скидки,"Фиксированные затрат, руб./шт.","Налог, %","Комиссия,%","Рентабельность, %",Проверка,Категория
0,22740348,FBS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Силиконовые чехлы
1,27708426,FBO,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Силиконовые чехлы
2,35217579,FBS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Силиконовые чехлы
3,74417961,FBS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Силиконовые чехлы
4,22740351,FBS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Силиконовые чехлы

In [71]:
# Подтягивание "Базовая цена" из таблицы "Себестоимость и Цена до скидки"
task2_df = task2_df.merge(
    info_df_dict["Себестоимость и Цена до скидки"][["Категория", "Базовая цена"]],
    on="Категория",
    how="left",
)
# Заполнение существующего "Цена до скидки" данными из "Базовая цена"
task2_df["Цена до скидки"] = task2_df["Цена до скидки"].fillna(task2_df["Базовая цена"])
task2_df.drop(columns=["Базовая цена"], inplace=True)

task2_df.head()

,Номенклатура,Модель продаж,Цена до скидки,Необходимая скидка для участия в акции,Цена после скидки,"Фиксированные затрат, руб./шт.","Налог, %","Комиссия,%","Рентабельность, %",Проверка,Категория
0,22740348,FBS,499.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Силиконовые чехлы
1,27708426,FBO,499.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Силиконовые чехлы
2,35217579,FBS,499.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Силиконовые чехлы
3,74417961,FBS,499.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Силиконовые чехлы
4,22740351,FBS,499.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Силиконовые чехлы

In [72]:
# Подтягивание "Необходимая скидка для участия в акции" из таблицы "Акция"
task2_df = task2_df.merge(
    info_df_dict["Акция"][
        ["Номенклатура", "Необходимая скидка для участия в акции, %"]
    ],
    on="Номенклатура",
    how="left",
)
# Заполнение существующего  "Необходимая скидка для участия в акции" данными из "Необходимая скидка для участия в акции, %"
task2_df["Необходимая скидка для участия в акции"] = task2_df[
    "Необходимая скидка для участия в акции"
].fillna(task2_df["Необходимая скидка для участия в акции, %"])
task2_df.drop(columns=["Необходимая скидка для участия в акции, %"], inplace=True)
task2_df.head()

,Номенклатура,Модель продаж,Цена до скидки,Необходимая скидка для участия в акции,Цена после скидки,"Фиксированные затрат, руб./шт.","Налог, %","Комиссия,%","Рентабельность, %",Проверка,Категория
0,22740348,FBS,499.0,50.0,NaN,NaN,NaN,NaN,NaN,NaN,Силиконовые чехлы
1,27708426,FBO,499.0,66.0,NaN,NaN,NaN,NaN,NaN,NaN,Силиконовые чехлы
2,35217579,FBS,499.0,66.0,NaN,NaN,NaN,NaN,NaN,NaN,Силиконовые чехлы
3,74417961,FBS,499.0,41.0,NaN,NaN,NaN,NaN,NaN,NaN,Силиконовые чехлы
4,22740351,FBS,499.0,31.0,NaN,NaN,NaN,NaN,NaN,NaN,Силиконовые чехлы

## 2.2 Рассчитать цену после скидки.

In [73]:
task2_df["Цена после скидки"] = task2_df["Цена до скидки"] * (
    1 - task2_df["Необходимая скидка для участия в акции"] / 100
)
task2_df.head()

,Номенклатура,Модель продаж,Цена до скидки,Необходимая скидка для участия в акции,Цена после скидки,"Фиксированные затрат, руб./шт.","Налог, %","Комиссия,%","Рентабельность, %",Проверка,Категория
0,22740348,FBS,499.0,50.0,249.50,NaN,NaN,NaN,NaN,NaN,Силиконовые чехлы
1,27708426,FBO,499.0,66.0,169.66,NaN,NaN,NaN,NaN,NaN,Силиконовые чехлы
2,35217579,FBS,499.0,66.0,169.66,NaN,NaN,NaN,NaN,NaN,Силиконовые чехлы
3,74417961,FBS,499.0,41.0,294.41,NaN,NaN,NaN,NaN,NaN,Силиконовые чехлы
4,22740351,FBS,499.0,31.0,344.31,NaN,NaN,NaN,NaN,NaN,Силиконовые чехлы

## 2.3 Подтянуть Фиксированные затраты.

In [74]:
# Подтягивание "Фиксированные затраты, руб./шт." из таблицы "Себестоимость и Цена до скидки"
task2_df = task2_df.merge(
    info_df_dict["Себестоимость и Цена до скидки"][
        ["Категория", "Фиксированные затраты, руб./шт."]
    ],
    on="Категория",
    how="left",
)
# Заполнение существующего "Фиксированные затрат, руб./шт." данными из "Фиксированные затраты, руб./шт."
task2_df["Фиксированные затрат, руб./шт."] = task2_df[
    "Фиксированные затраты, руб./шт."
].fillna(task2_df["Фиксированные затраты, руб./шт."])
task2_df.drop(columns=["Фиксированные затраты, руб./шт."], inplace=True)

task2_df.head()

,Номенклатура,Модель продаж,Цена до скидки,Необходимая скидка для участия в акции,Цена после скидки,"Фиксированные затрат, руб./шт.","Налог, %","Комиссия,%","Рентабельность, %",Проверка,Категория
0,22740348,FBS,499.0,50.0,249.50,153.4,NaN,NaN,NaN,NaN,Силиконовые чехлы
1,27708426,FBO,499.0,66.0,169.66,153.4,NaN,NaN,NaN,NaN,Силиконовые чехлы
2,35217579,FBS,499.0,66.0,169.66,153.4,NaN,NaN,NaN,NaN,Силиконовые чехлы
3,74417961,FBS,499.0,41.0,294.41,153.4,NaN,NaN,NaN,NaN,Силиконовые чехлы
4,22740351,FBS,499.0,31.0,344.31,153.4,NaN,NaN,NaN,NaN,Силиконовые чехлы

## 2.4 Налоговую ставку задать как случайное целое число от 1 до 6%.

In [75]:
task2_df["Налог, %"] = np.random.randint(1, 7, size=len(task2_df))

task2_df.head()

,Номенклатура,Модель продаж,Цена до скидки,Необходимая скидка для участия в акции,Цена после скидки,"Фиксированные затрат, руб./шт.","Налог, %","Комиссия,%","Рентабельность, %",Проверка,Категория
0,22740348,FBS,499.0,50.0,249.50,153.4,6,NaN,NaN,NaN,Силиконовые чехлы
1,27708426,FBO,499.0,66.0,169.66,153.4,3,NaN,NaN,NaN,Силиконовые чехлы
2,35217579,FBS,499.0,66.0,169.66,153.4,6,NaN,NaN,NaN,Силиконовые чехлы
3,74417961,FBS,499.0,41.0,294.41,153.4,3,NaN,NaN,NaN,Силиконовые чехлы
4,22740351,FBS,499.0,31.0,344.31,153.4,5,NaN,NaN,NaN,Силиконовые чехлы

## 2.5 Указать комиссию в зависимости от модели продаж (FBS – 10%, FBO – 15%).

In [76]:
# Установка комиссии в зависимости от модели продаж
task2_df["Комиссия,% "] = task2_df["Модель продаж"].apply(
    lambda x: 10 if x == "FBS" else (15 if x == "FBO" else None)
)
task2_df.head()

,Номенклатура,Модель продаж,Цена до скидки,Необходимая скидка для участия в акции,Цена после скидки,"Фиксированные затрат, руб./шт.","Налог, %","Комиссия,%","Рентабельность, %",Проверка,Категория
0,22740348,FBS,499.0,50.0,249.50,153.4,6,10,NaN,NaN,Силиконовые чехлы
1,27708426,FBO,499.0,66.0,169.66,153.4,3,15,NaN,NaN,Силиконовые чехлы
2,35217579,FBS,499.0,66.0,169.66,153.4,6,10,NaN,NaN,Силиконовые чехлы
3,74417961,FBS,499.0,41.0,294.41,153.4,3,10,NaN,NaN,Силиконовые чехлы
4,22740351,FBS,499.0,31.0,344.31,153.4,5,10,NaN,NaN,Силиконовые чехлы

## 2.6 Посчитать рентабельность.

- Рентабельность = (Цена после скидки-Затраты на ед.)/Цена после скидки
- Затраты на ед.=Фиксированные затраты+(Налог + Комиссия)*Цена после скидки.

In [77]:
# Рассчитываем затраты на единицу
task2_df["Затраты на ед."] = task2_df["Фиксированные затрат, руб./шт."] + (
    (task2_df["Налог, %"] + task2_df["Комиссия,% "])
    / 100
    * task2_df["Цена после скидки"]
).round(2)

# Рассчитываем рентабельность
task2_df["Рентабельность, %"] = (
    (task2_df["Цена после скидки"] - task2_df["Затраты на ед."])
    / task2_df["Цена после скидки"]
    * 100
).round(2)

task2_df.head()

,Номенклатура,Модель продаж,Цена до скидки,Необходимая скидка для участия в акции,Цена после скидки,"Фиксированные затрат, руб./шт.","Налог, %","Комиссия,%","Рентабельность, %",Проверка,Категория,Затраты на ед.
0,22740348,FBS,499.0,50.0,249.50,153.4,6,10,22.52,NaN,Силиконовые чехлы,193.32
1,27708426,FBO,499.0,66.0,169.66,153.4,3,15,-8.42,NaN,Силиконовые чехлы,183.94
2,35217579,FBS,499.0,66.0,169.66,153.4,6,10,-6.42,NaN,Силиконовые чехлы,180.55
3,74417961,FBS,499.0,41.0,294.41,153.4,3,10,34.90,NaN,Силиконовые чехлы,191.67
4,22740351,FBS,499.0,31.0,344.31,153.4,5,10,40.45,NaN,Силиконовые чехлы,205.05

## 2.7 Если рентабельность меньше 10%, то в столбце Проверка выводим False, иначе True.

In [78]:
# Условное заполнение столбца "Проверка"
task2_df["Проверка"] = task2_df["Рентабельность, %"].apply(
    lambda x: False if x < 10 else True
)
task2_df.head()

,Номенклатура,Модель продаж,Цена до скидки,Необходимая скидка для участия в акции,Цена после скидки,"Фиксированные затрат, руб./шт.","Налог, %","Комиссия,%","Рентабельность, %",Проверка,Категория,Затраты на ед.
0,22740348,FBS,499.0,50.0,249.50,153.4,6,10,22.52,True,Силиконовые чехлы,193.32
1,27708426,FBO,499.0,66.0,169.66,153.4,3,15,-8.42,False,Силиконовые чехлы,183.94
2,35217579,FBS,499.0,66.0,169.66,153.4,6,10,-6.42,False,Силиконовые чехлы,180.55
3,74417961,FBS,499.0,41.0,294.41,153.4,3,10,34.90,True,Силиконовые чехлы,191.67
4,22740351,FBS,499.0,31.0,344.31,153.4,5,10,40.45,True,Силиконовые чехлы,205.05

## 2.8 Привести к нужным типам данных:

- Цена до скидки, Необходимая цена для участия в акции, Цена после скидки – целые;

- Фиксированные затраты, Налог, Комиссия, Рентабельность – числа с плавающей запятой;

- Проверка – строка.

In [79]:
# Заполнение пустых значений и приведение типов данных
columns_to_int = [
    "Цена до скидки",
    "Необходимая скидка для участия в акции",
    "Цена после скидки",
]
columns_to_float = [
    "Фиксированные затрат, руб./шт.",
    "Налог, %",
    "Комиссия,% ",
    "Рентабельность, %",
]

# Заполняем NaN нулями и применяем int тип данных
task2_df[columns_to_int] = task2_df[columns_to_int].fillna(0).astype(int)

# Заполняем nan нулями и применяем float тип данных
task2_df[columns_to_float] = task2_df[columns_to_float].fillna(0).astype(float)

# Приведение столбца "Проверка" к строковому типу
task2_df["Проверка"] = task2_df["Проверка"].astype(str)

task2_df.head()

,Номенклатура,Модель продаж,Цена до скидки,Необходимая скидка для участия в акции,Цена после скидки,"Фиксированные затрат, руб./шт.","Налог, %","Комиссия,%","Рентабельность, %",Проверка,Категория,Затраты на ед.
0,22740348,FBS,499,50,249,153.4,6.0,10.0,22.52,True,Силиконовые чехлы,193.32
1,27708426,FBO,499,66,169,153.4,3.0,15.0,-8.42,False,Силиконовые чехлы,183.94
2,35217579,FBS,499,66,169,153.4,6.0,10.0,-6.42,False,Силиконовые чехлы,180.55
3,74417961,FBS,499,41,294,153.4,3.0,10.0,34.90,True,Силиконовые чехлы,191.67
4,22740351,FBS,499,31,344,153.4,5.0,10.0,40.45,True,Силиконовые чехлы,205.05

## 2.9 Экспорт итоговой таблицы

- в формате xlsx
- название файла «Задание 2»

In [80]:
output_file = "Задание 2.xlsx"
task2_df.to_excel(output_file, sheet_name="Таблица", index=False)